*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 50px;
    width: 110px;
}

.logo{
    background-image: url(Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
    border-radius: 1.2px;
}

.border:hover{
    border: 1.5px solid white;
    padding: 3px;
}

/* Box 2 of navbar */

.add_first{
    font-size: 0.7rem;
    columns: #cccccc;
    margin-left: 15px;
}

.add_second{
    font-size: 1rem;
    margin-left: 3px;
}

.add_icon{
    display: flex;
}

/* Box 3 of navbar*/

.nav_search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 35px;
    border-radius: 4px;
}

.nav_search:hover{
    border: 2px solid #f1b25f;
}

.search_select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search_input {
     width: 100%;
     font-size: 1rem;
     border: none;
}

.search_icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#f1b25f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}

/* Box 4 of navbar */

.nav_country {
    display: flex;
    width: 75px;
    justify-content: space-evenly;
    
}

.nav_flag {
    width: 25px;
    background-image: url(Images/united-states.png);
    background-size: cover;
    margin: 0px 2px 1px 0px;
}

.select_lang {
    color: white;
    font-size: 1rem;
    background-color: #0f1111;
    border: none;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
}

/* box 5 and box 6 of navbar*/

span {
    font-size: 0.7rem;
    color: #ffffff;
}

.second_nav{
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 700;
}

/* box7 */

.nav_cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav_cart i {
    font-size: 30px;

}

/* Second Panel of Header */

.panel {
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.panel_all i {
    font-size: 20px;
    margin-right: 5px;
}

.panel_all {
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
}

.panel_ops a {
    margin-left: 15px;
}

.panel_ops {
    width: 70%;
    font-size: 0.9rem;
}

.shop_deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero Section */

.hero_section {
    background-image: url(Images/hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 

 .hero_msg {
    height: 40px;
    width: 95%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.hero_msg a {
    color: #007185;
} */

/* Shop Section */

.shop_container {
    display: flex;
    background-color: #007185;
    justify-content: center;
    flex-wrap: nowrap;
}

.box {
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px;
}

.box1_img {
    height:300px;
    background-image: url(Images/box1_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box_content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box2_img {
    height:280px;
    background-image: url(Images/box2_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box3_img {
    height:300px;
    background-image: url(Images/box3_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box4_img {
    height:300px;
    background-image: url(Images/box4_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box5_img {
    height:300px;
    background-image: url(Images/box5_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box6_img {
    height:300px;
    background-image: url(Images/box6_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box7_img {
    height:300px;
    background-image: url(Images/box7_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box8_img {
    height:280px;
    background-image: url(Images/box8_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Footer Panel One */

footer {
    margin-top: 15px;
}

.foot_panelOne {
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 400;
}

.foot_panelTwo {
    background-color: #222f3d;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    margin-top: 15px;
    font-size: 0.85rem;
}

li a {
    color: #dddddd;
}

li p {
    font-size: 1rem;
    font-weight: 700;
}

ul {
    margin-top: 40px;
}

li:hover {
    text-decoration: 1.5px solid white underline;

}

/* footer panel three */

.foot_panelThree {
    background-color: #222f3d;
    border-top: 0.1px solid #cdcbcb;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo  {
    background-image: url(Images/amazon_logo.png);
    width: 100px;
    height: 50px;
    margin-right: 60px;
}

.globe {
    color: white;
    border: 0.2px solid #cfcdcd;
    border-radius: 4px;
    padding: 5px 12px 5px 12px;
    margin-left: 7px;
    display: flex;
    align-items: center;
}

.English {
     border: none; 
    color: white;
    background-color: #222f3d;
    font-size: 0.88rem;
}

.foot_flag {
    background-image: url(Images/united-states.png);
    background-size: cover;
    height: 18px;
    width: 18px;
}

.foot_panelFour {
    height: 80px;
    background-color: #131a22;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages {
    font-size: 0.8rem;
    padding-top: 25px;
}

.pages a {
    margin-left: 15px;
}

.pages a:hover {
    text-decoration: 0.5px white underline;
}

.copyright {
    color: white;
    font-size: 0.7rem;
    padding-top: 5px;
}

/* footer foot panel zero */

.foot_panelZero {
    height: 150px;
    background-color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid rgb(223, 220, 220);
    border-radius: 8px;
}

.signIn a {
    color: black;   
}

.signIn {
    font-size: 0.85rem;
    height: 25px;
    width: 250px;
    border: 1.5px solid orange;
    border-radius: 5px;
    background-color: #ffc21ae3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    font-weight: bold;
}

.tool_one {
    font-size: 0.85rem;
}

.tool_two a{
    color: #007185;
}

.tool_two {
    font-size: 0.7rem;
}
 

/*********** SIGN IN FORM ****************/

.logo_container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 40px;
    width: 100px;
    padding: 5px;
    background-image: url(Images/Amazon_\(company\)-Logo.wine.svg);
    background-size: cover;
}

.main_conatiner {
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
}

